#backend
API_URL=http://localhost:8081
REDIRECT_URI=http://localhost:8081/api/auth/42/callback
CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here

#database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=transcendence
DB_PORT=5432
DB_HOST=transcendence_db

#frontend
NEXT_TELEMETRY_DISABLED=1
NODE_ENV=production
FRONTEND_HOST=0.0.0.0
FRONTEND_PORT=8000
