#backend
APP_DOMAIN=transcendence.test
API_URL=https://transcendence.test
REDIRECT_URI=https://transcendence.test/oauth/intra/callback
CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here
JWT_SECRET=your_jwt_secret_here
CORS_ALLOWED_ORIGINS=https://transcendence.test

#database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=transcendence
DB_PORT=5432
DB_HOST=transcendence_db

#frontend
FRONTEND_HOST=0.0.0.0
FRONTEND_PORT=3000
